<html> 
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../static/index.css"> 
	</head>
	<body class="body">
        <h2 style ="text-align: center"class = "title">Data Analytics Input Page</h2>
        <table style ="background-color:white" width = 100%> 
         <tr>
          <td><form action="/result" method="POST">
           <h4>Extracting DSEX and Trade data</h4>
           <center> <button class="webscrap" >Click to Webscrap here</button> </center>
          </form></td>
          
          <td><form>
           <h4>Upload File here</h4>
           <center> <button class="upload_file" >Upload</button> </center>
          </form></td>
         </tr>
      </table>
         
        
      
    </body>
</html>